.header {
  margin: auto;
  width: 80%;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  margin-bottom: 20px;
}

.header-logo-image {
  margin: auto;
  display: block;
  width: 128px;
}
